<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productOrder">
            <h2><span jhiTranslate="storeApp.productOrder.detail.title">Product Order</span> {{productOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="storeApp.productOrder.placedDate">Placed Date</span></dt>
                <dd>
                    <span>{{productOrder.placedDate}}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.productOrder.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'storeApp.OrderStatus.' + productOrder.status}}">{{productOrder.status}}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.productOrder.code">Code</span></dt>
                <dd>
                    <span>{{productOrder.code}}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.productOrder.invoiceId">Invoice Id</span></dt>
                <dd>
                    <span>{{productOrder.invoiceId}}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.productOrder.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="productOrder.customerId">
                        <a [routerLink]="['/customer', productOrder.customerId, 'view']">{{productOrder.customerEmail}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-order', productOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
